DATABASE_URL=postgresql://neondb_owner:YOUR_PASSWORD@ep-restless-sound-aql5x0ck-pooler.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=solar_season_super_secret_key_2024
JWT_EXPIRES_IN=7d
PORT=3000
DISCORD_BOT_SECRET=your_discord_bot_secret
